@model GDocumentAPP.Context.DOCUMENTO

@{
    ViewBag.Title = "Delete";
}

<h3>¿Estás seguro que desea eliminar este Documento?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CANAL_GENERACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANAL_GENERACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENTO_DATA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENTO_DATA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_CREACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_CREACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXTENSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXTENSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DOCUMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.SUPERVISOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.SUPERVISOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTATU.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTATU.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.LOGIN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="input-group col-md-push-1">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
