@model DOCUMENTO

@{
    ViewBag.Title = "Details";
}

<!-- Custom CSS -->
<link href="~/Scripts/admin2Template/dist/css/sb-admin-2.css" rel="stylesheet" />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Documento Detalle</h3>
    </div>
    <div class="panel-body">

        <div>

            <div class="table-responsive">
                <table>
                    <tr>
                        <td style="width:70%;" align="center">
                            <div class='embed-responsive' style='padding-bottom:0%'>
                                @{ var urlDocumento =  "/images/WallImages/"+ Model.NOMBRE_DOCUMENTO;}
                                <object style="width:95%;" data=@urlDocumento height="500" type='application/pdf'></object>
                            </div>
                        </td>
                        <td style="width:50%;" >
                            <div class="list-group"  style='padding-top:20%'>
                                <a href="#" class="list-group-item active">
                                   @Html.DisplayFor(model => model.NOMBRE_DOCUMENTO)
                                </a>
                                @{ var EmpleadoDisplay = Model.EMPLEADO.getEmpleadoDisplay();}
                                @{ var EmpleadoId = Model.EMPLEADO_ID;}
                                <a  class="list-group-item">@Html.DisplayFor(model => model.SIZE) Byte</a>
                                <a  class="list-group-item">@Html.DisplayFor(model => model.FECHA_CREACION) </a>
                                <a  class="list-group-item">@Html.DisplayFor(model => model.ESTATU.DESCRIPCION)</a>
                                <a  class="list-group-item">@Html.DisplayFor(model => model.EXTENSION)</a>
                                <a  class="list-group-item">Generado via @Html.DisplayFor(model => model.CANAL_GENERACION)</a>
                                <a  class="list-group-item"> Creado Por -> @Html.DisplayFor(model => model.USUARIO.LOGIN)</a>
                                <a href="/Empleado/Details/@EmpleadoId" class="list-group-item">@EmpleadoDisplay</a>
                            </div>

                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>

    <div class="panel-footer">

        <div class="input-group col-md-push-1">
            @Html.ActionLink("Editar", "Edit", new { id = Model.DOCUMENTO_ID }, new { @class = "btn btn-warning" })
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>

</div>

