@model DOCUMENTO

@{
    ViewBag.Title = "Details";
}

@{  var EmpleadoDisplay = Model.EMPLEADO.getEmpleadoDisplay();
    var EmpleadoId = Model.EMPLEADO_ID;
    var urlDocumento = "/images/WallImages/" + Model.NOMBRE_DOCUMENTO;
    var NombreDocumento = Model.NOMBRE_DOCUMENTO;

}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Custom CSS -->
<link href="~/Scripts/admin2Template/dist/css/sb-admin-2.css" rel="stylesheet" />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><b>Documento Detalle</b></h3>
    </div>
    <div class="panel-body">

        <div>

            <div class="table-responsive">
                <table style="width:100%">
                    <tr>
                        <td>
                            @if (Model.NOMBRE_DOCUMENTO.ToLower().Contains(".pdf"))
                            {

                                <div class='embed-responsive' style='padding-bottom:0%'>
                                    <object style="width:100%" data='@urlDocumento' height="600" type='application/pdf'></object>
                                </div>
                            }
                            else
                            {

                                <div class="panel panel-success">
                                    
                                    <div class="panel-body">
                                        <img style="width:100%; height:70% " src='@urlDocumento' class=" img-responsive img-rounded " alt="Responsive image" />
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;">
                            <div class="panel panel-primary">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Propiedades del Documento</div>

                                <!-- Table -->
                                <table class="table table-striped">


                                    <tr>
                                        <th>Propiedad </th>
                                        <th>Valor</th>
                                    </tr>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>@Html.DisplayFor(model => model.NOMBRE_DOCUMENTO)</td>
                                    </tr>
                                    <tr>
                                        <td>Tamaño</td>
                                        <td>@Html.DisplayFor(model => model.SIZE) Byte</td>
                                    </tr>
                                    <tr>
                                        <td>Folder Destino</td>
                                        <td>@Html.DisplayFor(model => model.EXTENSION)</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Creación</td>
                                        <td>@Html.DisplayFor(model => model.FECHA_CREACION)</td>
                                    </tr>
                                    <tr>
                                        <td>Creado Por</td>
                                        <td>@Html.DisplayFor(model => model.USUARIO.LOGIN)</td>
                                    </tr>
                                    <tr>
                                        <td>Estatus</td>
                                        <td>@Html.DisplayFor(model => model.ESTATU.DESCRIPCION)</td>
                                    </tr>
                                    <tr>
                                        <td>Empleado</td>
                                        <td><a href="/Empleado/Details/@EmpleadoId" title="Ir a Empleado Detalle">@EmpleadoDisplay</a></td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>

    <div class="panel-footer">

        <div class="input-group col-md-push-1">
            @Html.ActionLink("Editar", "Edit", new { id = Model.DOCUMENTO_ID }, new { @class = "btn btn-warning" })
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>

</div>

