@model DOCUMENTO

@{
    ViewBag.Title = "Edit";
}

<!-- Custom CSS -->
<link href="~/Scripts/admin2Template/dist/css/sb-admin-2.css" rel="stylesheet" />

<h2>Editar Documento</h2>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Documento a Editar</h3>
        </div>
        <div class="panel-body">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DOCUMENTO_ID)

                <div class="form-group">
                    @Html.LabelFor(model => model.EMPLEADO_ID, "Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EMPLEADO_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EMPLEADO_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CANAL_GENERACION, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CANAL_GENERACION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CANAL_GENERACION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FECHA_CREACION, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FECHA_CREACION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FECHA_CREACION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.USUARIO_ID, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("USUARIO_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.USUARIO_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EXTENSION, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EXTENSION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EXTENSION, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SIZE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SIZE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SIZE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NOMBRE_DOCUMENTO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NOMBRE_DOCUMENTO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NOMBRE_DOCUMENTO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ESTATUS_ID, "Estatus", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ESTATUS_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ESTATUS_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
}
        </div>
        <div class="panel-footer">         
                <div class="input-group col-md-push-1">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <span> </span>
                    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-outline btn-info" })
                </div>
            
        </div>
    </div>




            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
