@model RASTREO_EXPEDIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Expediente Fisico Detalle</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Expediente Fisico</h3>
    </div>
    <div class="panel-body">

        <dl class="dl-horizontal">
            <dt>
                Empleado
            </dt>

            <dd>
                @{ var EmpleadoDisplay = Model.EMPLEADO.getEmpleadoDisplay();}
                @EmpleadoDisplay
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FECHA_SALIDA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FECHA_SALIDA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FECHA_DEVOLUCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FECHA_DEVOLUCION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FIRMA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FIRMA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ESTATUS_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ESTATUS_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PERSONA_ID)
            </dt>

            <dd>
                @{ var personaDisplay = Model.PERSONA.getPersonaDisplayFull();}
                @personaDisplay
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COMENTARIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COMENTARIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DEPENDENCIA.DEPENDENCIA_NOMBRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DEPENDENCIA.DEPENDENCIA_NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.USUARIO.LOGIN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.USUARIO.LOGIN)
            </dd>

        </dl>
    </div>

    <div class="panel-footer">
        <div class="input-group col-md-push-1">
            @Html.ActionLink("Editar", "Edit", new { id = Model.RATRAEO_EXPEDIENTE_ID }, new { @class = "btn btn-warning" })
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>

</div>
   
