@using PagedList.Mvc;
@using PagedList;

@model PagedList.IPagedList<RASTREO_EXPEDIENTE>


@{
    ViewBag.Title = "Index";
}


 <!-- Custom CSS -->
<link href="~/Scripts/admin2Template/dist/css/sb-admin-2.css" rel="stylesheet" />

<h3>Listado de Expedientes Fisico</h3>

<p>
    @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-circle btn-md btn-success btn-md glyphicon glyphicon-plus-sign", @title = "Crear" })
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().EMPLEADO_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FECHA_SALIDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FECHA_DEVOLUCION)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.First().ESTATUS_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PERSONA_ID)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.First().DEPENDENCIA.DEPENDENCIA_NOMBRE)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{ var personaFromEmpleadoDisplay = item.EMPLEADO.PERSONA.getPersonaDisplay();}
                    @Html.ActionLink(@personaFromEmpleadoDisplay, "Details", "Empleado", new { id = item.EMPLEADO_ID }, new
               {

                   @title = "Ir a Empleado Detalle"
               })
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_SALIDA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_DEVOLUCION)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ESTATU.DESCRIPCION)
                </td>
              
                <td>
                    @{ var personaDisplay = item.PERSONA.getPersonaDisplay();}
                    @Html.ActionLink(@personaDisplay, "Details", "Persona", new { id = item.PERSONA_ID }, new
                   {

                       @title = "Ir a Persona Detalle"
                   })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DEPENDENCIA.DEPENDENCIA_NOMBRE)
                </td>
               
                <td align="right">
                    @Html.ActionLink(" ", "Edit", new { id = item.RATRAEO_EXPEDIENTE_ID }, new
                       {
                           @class = " btn btn btn-circle btn-outline btn-warning btn-md glyphicon glyphicon-pencil ",
                           @title = "Editar"
                       })


                    @Html.ActionLink(" ", "Details", new { id = item.RATRAEO_EXPEDIENTE_ID }, new
                       {
                           @class = " btn btn btn-circle btn-outline btn-info btn-md  glyphicon glyphicon-eye-open",
                           @title = "Detalle"
                       })


                     @Html.ActionLink(" ", "Delete", new { id = item.RATRAEO_EXPEDIENTE_ID }, new
                       {
                           @class = " btn btn btn-circle btn-outline btn-danger btn-md  glyphicon glyphicon-trash",
                           @title = "Eliminar"
                       })
                  </td>

            </tr>
        }

    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))