@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GDocumentApp</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dropzonescss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @if (Request.IsAuthenticated)
    {
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
         <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GDocumentApp", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav  navbar-right">
                   
                    <li class="dropdown"  title="Configuraciones">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"> </span><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Dependencia", "Index", "Dependencia")</li>
                            <li>@Html.ActionLink("Tipo Documento", "Index", "TipoDocumento")</li>
                            <li>@Html.ActionLink("Estatus", "Index", "Estatus")</li>
                            <li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                            <li>@Html.ActionLink("Rol", "Index", "Rol")</li>
                        </ul>
                    </li>

                </ul>
               
            </div>
           
        </div>
    </div>
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GDocumentApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @Scripts.Render("~/bundles/bootboxscripts")
    @Scripts.Render("~/bundles/customdropzonescripts")
    @RenderSection("scripts", required: false)
</body>
</html>
