@model ESTATU

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Estatus</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">¿Estás seguro que desea eliminar este Estatus?</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TIPO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TIPO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VALOR_LOGICO)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.VALOR_LOGICO)
            </dd>
        </dl>
    </div>

    <div class="panel-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="input-group col-md-push-1">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <span> </span>
                @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
            </div>

        }
    </div>
</div>
