@model DEPENDENCIA

@{
    ViewBag.Title = "Create";
}
<br /><br />
<h2>Creación Dependencia</h2>

<!-- Inicio de panel -->
<div class="panel panel-default">
    <!--Cabecera del panel-->
    <div class="panel-heading">
        <h3 class="panel-title"> Crear Dependencia</h3>
    </div>
    <!--Inicio de formulario-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="panel-body">

     
            <div class="form-horizontal">

                <!--Para el despliegue de errores o advertencias-->
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.DEPENDENCIA_NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DEPENDENCIA_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DEPENDENCIA_NOMBRE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        
    </div>

    <!--Inicio de Acciones o botones-->
    <div class="panel-footer">
        <div class="input-group col-md-push-1">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>

}
</div>    

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
