@model USUARIO

@{
    ViewBag.Title = "Details";
}
<br /><br />
<h2>Usuario Detalle</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Usuario</h3>
    </div>
    <div class="panel-body">

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ESTATU.DESCRIPCION)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ESTATU.DESCRIPCION)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PERSONA_ID)
                </dt>

                <dd>
                    @{ var personaDisplay = Model.PERSONA.getPersonaDisplayFull();}
                    @personaDisplay
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LOGIN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LOGIN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CONTRASENIA)
                </dt>

                <dd>
                    *********
                </dd>
            </dl>
        </div>
    </div>

    <div class="panel-footer">

        <div class="input-group col-md-push-1">
            @Html.ActionLink("Editar", "Edit", new { id = Model.USUARIO_ID }, new { @class = "btn btn-warning" })
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>