@model IEnumerable<GDocumentAPP.USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ESTATU.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSONA_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOGIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRASENIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ESTATU.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERSONA_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOGIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRASENIA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.USUARIO_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.USUARIO_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.USUARIO_ID })
        </td>
    </tr>
}

</table>
