@model EMPLEADO

@{
    ViewBag.Title = "Delete";
}

<!-- Custom CSS -->
<link href="~/Scripts/admin2Template/dist/css/sb-admin-2.css" rel="stylesheet" />

<h3>¿Estás seguro que desea eliminar este Empleado?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Persona
        </dt>

        <dd>
                       
                @{ var personaDisplay = Model.PERSONA.getPersonaDisplayFull();}
                @Html.ActionLink(@personaDisplay, "Details", "Persona", new { id = Model.PERSONA_ID }, new
               {

                   @title = "Ir a Persona Detalle"
               })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SUPERVISOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPERVISOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUESTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INGRESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUELDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUELDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANCO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANCO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUENTABANCARIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUENTABANCARIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPENDENCIA.DEPENDENCIA_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPENDENCIA.DEPENDENCIA_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTATU.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTATU.DESCRIPCION)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="input-group col-md-push-1">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <span> </span>
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-outline btn-info" })
        </div>
    }
</div>
