@model IEnumerable<GDocumentAPP.Context.EMPLEADO>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Empleados</h2>

<p>
    @Html.ActionLink("Crear Empleado", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SUPERVISOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PUESTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHA_INGRESO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUELDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BANCO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CUENTABANCARIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMPRESA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEPENDENCIA_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTATUS_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONA.NOMBRE)
            </th>
            <th colspan="3"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SUPERVISOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PUESTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUELDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BANCO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CUENTABANCARIA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMPRESA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPENDENCIA.DEPENDENCIA_NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTATU.DESCRIPCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EMPLEADO_ID }, new { @class = "btn btn-default" })
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", new { id = item.EMPLEADO_ID }, new { @class = " btn btn-info" })
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.EMPLEADO_ID }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }

    </table>
</div>